:root {
  --dark-color: #e9ecef;
  --opac-color: #ced4da;
  --third-color: #dee2e6;
  --p-color: #e9ecef;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 911px) {
  .imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 912px) {
  .imgs {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.with-blur {
  backdrop-filter: blur(500px); 
}
.clr-out {
  background-color: var(--third-color);
  height: 100%;
}

.clr-in {
  background-color: var(--opac-color);
  height: 100%;
}

.font {
  font-family: 'Brush Script MT', cursive;
}


.width{
  width: 900px;
}

.width2{
  width: 60%;
}

.image-container {
  max-width: 100%;
  width: 800px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
}

.image-container img {
  width: 800px;
  height: 500px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.image-container2 {
  max-width: 100%;
  width: 400px;
  height: 300px;
  display: inline;
}

.image-container2 img {
  width: 600px;
  height: 400px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}


.header-disp {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--p-color);
}

.profile {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.profile2 {
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 150%;
  font-weight: bold;
  color: red;
}

.circle {
  width: 40px; 
  height: 40px;
  background-color: #1b191a; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.m {
  margin-left: 1%;
}

.image-preview {
  border: 1px solid #ddd; 
  border-radius: 3%;
  object-fit: cover;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.image-preview2 {
  border: 1px solid #ddd; 
  border-radius: 3%;
  object-fit: cover;
  margin: 10px; 
  padding: 5px; 
}


.imgs2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr));
  grid-gap: 10px;
}

@media (max-width: 600px) {
  .imgs2 {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 10px), 1fr));
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .imgs2 {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
  }
}


.img {
  
  width: 270px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: cover;
}

.custom-file-upload {
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}
.my-custom-button {
  background-color: #f8f9fa;
  color: #28a745;
  border-color: #28a745;
  border-radius: 7px;
}

.my-custom-button:hover {
  background-color: #179263;
  border-color: #28a745;
  color: rgb(255, 253, 253);
  border-radius: 7px;
}

.divDisp {
  display: flex;
  background-color: var(--p-color);
  justify-content: space-between;
}

.marginL {
  margin-left: 10%;
}

.dimension {
  margin-left: 2%;
  width: 70px;
  height: 50px;
}

.displayHeader {
  display: flex;
  justify-content: end;
  width: 70px;
  height: 50px;
}

.marg {
  margin-right: 40%;
}

.edit-form-container {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
